<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Receipt</title>
</head>
<body>
<div class="row">
    <form action="">
  <label for="fname">Student name: {{ receipt.studentname }}</label><br><br>
  <label for="class">Student class: {{ receipt.studentclass }}</label><br><br>
   <label for="date paid">Date paid: {{ receipt.date }}</label><br><br>
   <label for="fees paid">Fees Amount: {{ receipt.feesamount }}</label><br><br>
  <label for="amount">Amount paid: {{ receipt.amountpaid }}</label><br><br>
  <label for="balance"> Balance: {{ receipt.balance }}</label><br><br>
</form>

</div>
</body>
</html>